@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    font-family: "roboto", sans-serif;
    right: 50%;
    z-index: 7;
    top: 11%;
    transform: translateX(50%);
}

.pop-modal {
    width: 546px;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 3px;
}

.pop-modal .close {
    display: flex;
    justify-content: flex-end;
}

.close button,
input[type="submit"],
input[type="reset"] {
    display: flex;

    justify-content: center;
    background: #e5e5e5;
    color: #fff;
    border: none;
    padding: 6px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 29px;
    width: 24px;
    height: 24px;
}

.pop-modal .succes,
.pop-modal .error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-content .m-icon {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
width: 40px;
height: 40px;
border-radius: 50%;

margin: 10px 0px 10px 0px;
}

.pop-modal .m-title {
color: #eb5757;
font-weight: lighter;
display: flex;
justify-content: center;
font-size: 16.5px;
line-height: 140%;
}

.pop-modal .successful {
color: #27ae60;
}

.modal-content .m-body {
margin-left: 20px;
font-weight: 400;
font-size: 13px;
line-height: 18px;
color: rgba(0, 0, 0, 0.6);
text-align: center;
}

@media screen and (min-width: 320px) {
.modal-content .m-body {
    font-size: 12px;
    line-height: 14px;
}
}
